* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.app.claro {
  background-color: #fff;
  color: #000;
}

.app.escuro {
  background-color: black;
  color: #fff;
}

.app-header {
  height: 100vh;
}

.botao {
  margin-top: 80vh;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.botao.claro {
  background-color: black;
  color: white;
  transition: all 0.4s ease-in-out;
}

.botao.claro:hover {
  transform: scaleX(1.05);
  background-color: white;
  color: black;
}

.botao.escuro {
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.botao.escuro:hover {
  transform: scaleX(1.05);
  background-color: black;
  color: white;
  border: 1px solid white;
}